attrs==23.2.0
cffi==1.16.0
cosl==0.0.11
importlib-resources==6.4.0
tenacity==8.2.3
pymongo==4.6.3
ops==2.12.0
jsonschema==4.21.1
cryptography==42.0.5
pure-sasl==0.6.2
pycparser==2.22
pkgutil-resolve-name==1.3.10
pydantic>=1.10.7
pyrsistent==0.20.0
pyyaml==6.0.1
zipp==3.18.1
pyOpenSSL==24.1.0
typing-extensions==4.11.0
parameterized==0.9.0
